<script src="{{ root_url }}/javascripts/tag-clouds.js"></script>
<style>
    #tag-cloud-3D {position:relative; width:270px; height:300px; margin: 20px auto 0 }
    #tag-cloud-3D a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:black; font-weight:bold; text-decoration:none; padding: 3px 6px; }
    #tag-cloud-3D a:hover {border: 1px solid #eee; background: white; }
</style>

<section>
    <h1>Tag Cloud</h1>
    <div id="tag-cloud-3D">
        {% tag_cloud %}
    </div>
</section>
<section>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0893236326612531";
/* WP 右边 矩形块，300x250, 创建于 09-6-20 */
google_ad_slot = "9132620214";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</section>
